ADDRESS=0.0.0.0:0

MYSQL_USER=[TEXT]
MYSQL_PASSWORD=[TEXT]
MYSQL_DATABASE=[TEXT] # Name of db
MYSQL_PORT=0
MYSQL_HOST=0.0.0.0
MYSQL_TIMEOUT=0s

# This is an example .env file. Copy this to .env and edit the values as needed.
# 0.0.0.0 is placeholder for IP address, 0 for numbers, [TEXT] is text. 
# Current values in this file are invalid