{{ template "base.html" . }}

{{ define "title" }}Home{{ end }}

{{ define "content" }}
<h1>Halv o {{ if and .User .User.Name }}{{ .User.Name }}{{ else }}Guest{{ end }}</h1>
<p>This is a simple paragraph. <br><br>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. <br>
	Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur <br>
	ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis <br>
	sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. <br>
	Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, <br>
	consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar <br>
	a semper sed, adipiscing id dolor.
</p>
{{ end }}
